# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_PROJECT_REF=

User1_email="med@gmail.com"
User1_password="user123"

############################

User2_email="abdelbar@sample.com"
User2_password="user111"
